:root {
    --shadow: 0 0 1vw rgb(29, 29, 29);
    --page1-offset: 0;
    --page2-offset: 100vw;
    --transition-amount: 0s;
    --colour-1: white;
    --colour-2: #c7c7c7;
    --colour-3: #585858;
    --colour-4: #111;
    --colour-5: rgba(0, 0, 0, 0.7);
}

html {
    overflow-x: hidden;
}

body {
    font: 400 20px/1.8 "Lato", sans-serif;
    margin: 0;
    color: var(--colour-1);
    overflow-x: hidden;
}

#page1, #page2 {
    transition: left var(--transition-amount) ease;
    overflow-x: hidden;
}

#page1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

#page2 {
    position: absolute;
    top: 0;
    left: var(--page2-offset);
    width: 100vw;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.parallax {
    position: relative;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: left var(--transition-amount) ease;
}

#page1 .parallax {
    background-position: center;
}

#page2 .parallax {
    background-position: center;
}

.pagetitle {
    position: absolute;
    top: 30%;
    font-size: max(20px, 2.5vw);
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-shadow: 0 0 1vw rgb(29, 29, 29);
    color: white;
    transition: left var(--transition-amount) ease, color 0.5s ease;
}

.caption {
    position: absolute;
    top: 30%;
    font-size: max(15px, 2vw);
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-shadow: 0 0 1vw rgb(29, 29, 29);
    color: white;
    transition: left var(--transition-amount) ease, color 0.5s ease;
}

#page1 .pagetitle {
    left: var(--page1-offset);
}

.downarrow {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    bottom: 5vh;
    text-shadow: 0 0 1vw rgb(29, 29, 29);
    color: white;
    background-color: transparent;
    transition: bottom 1.25s ease-in-out, left var(--transition-amount) ease;
}

#page1 .downarrow {
    left: var(--page1-offset);
}

.downarrow .icon {
    font-size: max(40px, 5vw);
}

.mobile {
    display: none;
}


@media only screen and (max-width: 1024px) {
    .mobile {display: block;}
    .desktop {display: none;}
}

@media only screen and (max-device-width: 1024px) {
    .parallax {background-attachment: scroll;}
    #page2 {display: none}
    #leftanchor {display: none}
}

.right {
    position: absolute;
    width: 200px;
    right: 30px;
}

.right a {
    position: absolute;
    display: flex;
    top: 1.8em;
    z-index: 2;
    text-shadow: 0 0 1vw rgb(29, 29, 29);
    color: white;
    cursor: pointer;
    transition: right var(--transition-amount) ease;
}

#leftanchor {
    right: calc(var(--page2-offset) * -1);
}

#rightanchor {
    right: var(--page1-offset);
}

@media (hover: hover) and (pointer: fine) {
    .right a:hover {
        color: var(--colour-2);
    }
}

.right p {
    font-weight: bold;
    margin: auto;
    flex-grow: 1;
    transition: 0.4s
}


.content {
    position: relative;
    padding: 20px;
    top: 0;
    background-color: var(--colour-1);
    transition: var(--transition-amount) ease, background-color 0.5s ease;
}

#page1 .content {
    left: var(--page1-offset);
}

.content img {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    max-width: 350px;
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.content h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font: max(25px, 2vw) "Lato", sans-serif;
    color: var(--colour-4);
}

.content p {
    color: var(--colour-3);
    padding: 10px 5vw;
    font: 400 max(20px, 1.5vw)/1.8 "Lato", sans-serif;
    text-align: left;
}

.content p a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #808080;
}

@media (hover: hover) and (pointer: fine) {
    .content p a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 7px;
        left: 0;
        background-color:#808080;
        transform-origin: top;
        transition: transform 0.25s ease-out;
    }

    .content p a:hover:after {
        transform: scaleX(1);
        transform-origin: top;
    }
}

.icon {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    height: 1.25em;
    width: 1.5em;
    padding-top: 0.25em;
    transition: padding-left 0.4s;
}

.wrapper {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 3;
}

.menu {
    position: fixed;
    top: 0;
    left: -270px;
    width: 180px;
    height: 100%;
    padding-left: 44px;
    padding-right: 40px;
    padding-top: 70px;
    transition: 0.4s;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.icons {
    width: 50px;
    transition: 0.4s;
    cursor: pointer;
}

.names {
    width: 130px;
    margin-left: 10px;
}

@media (hover: hover) and (pointer: fine) {
    .icons:hover {
        width: 40px;
        padding-left: 10px;
    }
}

.menu h2 {
    font: bold 20px "Lato", sans-serif;
}

.menu h1 {
    font: bold 25px "Lato", sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.menu a {
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    width: 50px;
    display: flex;
    margin: 2em 0 0 2em;
    cursor: pointer;
    z-index: 3;
    transition: 0.4s;
}

.nav div {
    height: 6px;
    background-color: white;
    margin: 6px;
    border-radius: 25px;
    transition: 0.3s;
    box-shadow: 0 0 1vw rgb(29, 29, 29);
}

.one {
    transform-origin: top left;
    width: 50px;
}

.two {
    width: 40px;
}

.three {
    transform-origin: top left;
    width: 45px;
}

.switch {
    position: relative;
    display: inline-block;
    top: -25px;
    right: -110px;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colour-1);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--colour-4);
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--colour-1);
}

input:focus + .slider {
    box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}